/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --tertiary-color: #e74c3c;
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #e5e5e5;
  --border-color: #eceff1;
  --text-color: #000;
  --text-light-color: #ccc;
  --light-shade-color: #eceff1;
  --middle-shade-color: #cfd8dc;
  --dark-shade-color: #455a64;

  /* fonts */
  --body-font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium",
    YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Noto Sans JP", "Yu Gothic Medium", "游ゴシック Medium",
    YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif, monospace;

  /* body font sizes */
  --body-font-size-l: 1.25rem; /* 20px */
  --body-font-size-m: 1rem; /* 16px */
  --body-font-size-s: 0.875rem; /* 14px */
  --body-font-size-xs: 0.75rem; /* 12px */

  /* heading font sizes */
  --heading-font-size-xxl: 2.5rem; /* 40px */
  --heading-font-size-xl: 2rem; /* 32px */
  --heading-font-size-l: 1.75rem; /* 28px */
  --heading-font-size-m: 1.5rem; /* 24px */
  --heading-font-size-s: 1.25rem; /* 20px */
  --heading-font-size-xs: 1rem; /* 16px */

  /* border-style */
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 4px;

  /* header-gradient-color */
  --gradient-color1: #e34487;
  --gradient-color2: #feb27d;
  --gradient-color3: #ef353d;
  --header-background-color: #1f2430;

  /* nav height */
  --nav-height: 64px;

  /* Others */
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --default-margin: 1rem;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local("Arial");
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 2.5rem; /* 40px */
    --heading-font-size-xl: 2rem; /* 32px */
    --heading-font-size-l: 1.75rem; /* 28px */
    --heading-font-size-m: 1.5rem; /* 24px */
    --heading-font-size-s: 1.25rem; /* 20px */
    --heading-font-size-xs: 1rem; /* 16px */
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}
h2 {
  font-size: var(--heading-font-size-xl);
  border-bottom: 1px solid var(--border-color);
  font-size: 2rem;
  line-height: 3.0625rem;
}
h3 {
  font-size: var(--heading-font-size-l);
}
h4 {
  font-size: var(--heading-font-size-m);
}
h5 {
  font-size: var(--heading-font-size-s);
}
h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section styling */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section.articles {
  max-width: 1000px;
  margin: auto;
}

/* sidebar layout style */
main.flex-container {
  display: flex; /* Flexboxを使用 */
  justify-content: center; /* 中央揃え */
  background-color: var(--light-shade-color);
}

.flex-container .main-content,
.sidebar {
  align-self: center; /* 中央揃え */
}

.flex-container .sidebar {
  width: 25%; /* サイドバーの幅 */
  max-width: 300px; /* サイドバーの最大幅 */
  position: sticky; /* スクロールに追従 */
  top: calc(var(--nav-height) + 1em); /* ページ上部、ヘッダー下部の高さに指定 */
  align-self: start; /* 上揃え */
  /* サイドバーのその他のスタイリング */
  background-color: var(--background-color);
  margin: 1em 1em;
  padding: 0;
  border-radius: var(--border-radius);
}

.flex-container .main-content {
  width: 75%; /* メインコンテンツの幅 */
  max-width: 900px; /* メインコンテンツの最大幅 */
  /* メインコンテンツのその他のスタイリング */
  background-color: var(--background-color);
  margin: 1em 1em;
  border-radius: var(--border-radius);
  padding: 1em 2em;
}

@media (max-width: 900px) {
  .flex-container .sidebar {
    display: none; /* サイドバーを非表示に */
  }

  .flex-container .main-content {
    width: 100%; /* メインコンテンツの幅を100%に */
  }
}
