.callout-alert {
  padding: 1.25rem 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid var(--middle-shade-color);
  border-left-width: 0.25rem;
  border-left-color: var(--tertiary-color);
  border-radius: var(--border-radius);
}

.callout-alert p {
  margin: 0;
}
.callout-alert > div > p:first-child::before {
  content: "注意:";
  font-weight: bold;
  margin-right: 0.5rem;
}
